html {
    height: 100%;
  }

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(255,255,255);
    background: linear-gradient(14deg, rgba(255,255,255,1) 25%, rgba(250,227,191,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

button,
.btn {
    background-color: #628e73;
    border-color: #628e73;
    color: beige;
}

button:hover,
.btn:hover,
button:focus,
.btn:focus,
button:active,
.btn:active {
    background-color: #506f5a; /* Slightly darker shade for hover/active states */
    border-color: #506f5a;
}

.bsb-btn-xl {
  --bs-btn-padding-y: 0.625rem;
  --bs-btn-padding-x: 1.25rem;
  --bs-btn-font-size: calc(1.26rem + 0.12vw);
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

/* Cards */
.custom-card {
  border-color: #628e73;
  background-color: #FAF2E4;
}

.card.border-primary {
  border-color: #628e73 !important;
}

.bsb-circle {
  --bsb-cs: 125px;
  border-radius: 50%;
  height: var(--bsb-cs);
  width: var(--bsb-cs);
}

.bg-accent {
  --bs-bg-opacity: 1;
  background-color: #F9E7CB !important;
}

.border-accent {
  --bs-border-opacity: 1;
  border-color: #F9E7CB !important
}

.bg-custom-green {
  background-color: #628e73;
}

/* Font Settings */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

